<div class="header-main">

    <div class="menu-left" (click)="isActiveEvent(0)">
        <a routerLink=""> 
        <img src="assets/images/header/nebcode.png"
                alt="English on GT"
                class="home-image"
                style="height: 60px">
        </a>
    </div>

    <div class=" menu-right">
     
            <a routerLink="/contact">
            <div class="col-sm-3 col-3 col-lg-3 col-xl-3 menu-right-link"
                [ngClass]="{'isActive' : isActive.contact }"
                (click)="isActiveEvent(1);">
                        
                            <p > {{ hederRight1 }} </p>
            </div>
            </a>
            
            <a routerLink="/pricing">
            <div class="col-sm-3 col-3 col-lg-3 col-xl-3 menu-right-link" 
                 [ngClass]="{'isActive' : isActive.info }"
                 (click)="isActiveEvent(2)">
                    
                        
                            <p > {{ hederRight2 }} </p>
                        
                    
            </div>
            </a>

            <a routerLink="/location">
            <div class="col-sm-3 col-3 col-lg-3 col-xl-3 menu-right-link"
                [ngClass]="{'isActive' : isActive.location }"
                 (click)="isActiveEvent(3)">
                    
                        
                            <p > {{ hederRight3 }} </p>
                        
            </div>
            </a>


            <div class="col-sm-3 col-3 col-lg-3 col-xl-3 menu-right-link"
                (click)="showMoreOptions(); isActiveEvent(4)">
                   
                        
                            <p > {{ hederRight4 }} </p>
                        
                   
            </div>

    </div>

    <div class="menu-phone-2">
        <a routerLink="" >
            <img src="assets/images/header/nebcode.png"
            alt="English on GT"
            class="home-image"
            style="height: 60px">
        </a>
    </div>

    <div class="menu-phone" (click)="showMenuPhone()">
        
            <button mat-button  class="mat-icons">
                <mat-icon>menu_vert</mat-icon>          
            </button>
                
    </div>
    
</div>


<div class="menu-phone-hidden" *ngIf="menuPhone">
        <mat-list>
                <mat-list-item class="menu-hidden" >
                        <a routerLink="/contact" 
                            class="a-width" 
                            (click)="showMenuPhone();"> 
                            
                                <p class="color-links"> {{ hederRight1 }} </p>
                            
                         </a>                  
                </mat-list-item>
                <mat-divider></mat-divider>
                
                <mat-list-item class="menu-hidden">
                        <a routerLink="/pricing" 
                        class="a-width"
                        (click)="showMenuPhone()"> 
                            
                                <p class="color-links"> {{ hederRight2 }} </p>
                            
                         </a> 
                </mat-list-item>
                <mat-divider></mat-divider>
                
                <mat-list-item class="menu-hidden">
                        <a routerLink="/location"                         
                            class="a-width"
                            (click)="showMenuPhone()"> 
                            
                                <p class="color-links"> {{ hederRight3 }} </p>
                            
                         </a> 
                </mat-list-item>                
                <mat-divider></mat-divider>                

                <mat-list-item class="menu-hidden">
                        <a routerLink="/ups-building" 
                            class="a-width"
                            (click)="showMenuPhone(); showMoreOptions()"> 
                            
                                <p class="color-links"> {{ hederRight4 }} </p>
                            
                         </a> 
                </mat-list-item>
                <mat-divider></mat-divider>                
        </mat-list>
</div>

<div class="menu-more-hidden" *ngIf="menuMore">
        <mat-list>
                <mat-list-item class="menu-hidden" >
                        <a routerLink="/ups-building" 
                            class="a-width" 
                            (click)="showMoreOptions()"> 
                            
                                <p class="color-links"> {{ more1 }} </p>
                            
                         </a>                  
                </mat-list-item>
                <mat-divider></mat-divider>
                
                <mat-list-item class="menu-hidden">
                        <a routerLink="/ups-building" 
                        class="a-width"
                        (click)="showMoreOptions()"> 
                            
                                <p class="color-links"> {{ more2 }} </p>
                            
                         </a> 
                </mat-list-item>
                <mat-divider></mat-divider>
                
                <mat-list-item class="menu-hidden">
                        <a routerLink="/ups-building" 
                            class="a-width"
                            (click)="showMoreOptions()"> 
                            
                                <p class="color-links"> {{ more3 }} </p>
                            
                         </a> 
                </mat-list-item>  

                <mat-divider></mat-divider>
                <mat-divider></mat-divider>

                <mat-list-item class="menu-hidden">
                        <a routerLink="/ups-building" 
                            class="a-width"
                            (click)="showMoreOptions()"> 
                            
                                <p class="color-links"> {{ more4 }} </p>
                            
                         </a> 
                </mat-list-item>
                <mat-divider></mat-divider>                
        </mat-list>
</div>
