<div class="container">

  <div class="col-5 col-lg-5 col-xl-5 footer-right">
 
      <div class="footer-links"> 
        <a href="https://www.facebook.com/" 
        target="_blank">
            <img src="../../assets/images/footer/face3.jpg"
                alt="English on GT facebook"
                class="image-size">
        </a>
      </div>

      <div class="footer-links"> 
          <a href="https://www.youtube.com/" 
          target="_blank">
              <img src="../../assets/images/footer/youtube.png"
                  alt="English on GT youtube"
                  class="image-size">
          </a>
        </div>

      <div class="footer-links"> 
          <a href="https://web.whatsapp.com/" 
          target="_blank">
              <img src="../../assets/images/footer/whatsapp.png"
                  alt="English on GT whatspp"
                  class="image-size">                    
          </a>

      </div>
      
      <div class="footer-links">
          <a routerLink="">
              <mat-icon>home</mat-icon>
          </a>
      </div>
      
  </div>

  <div class="col-5 col-lg-5 col-xl-5 footer-left">

    <table class="text-center">
        <tr>
            <td>
                <p>Nebulosa Code, tu Negocio en linea</p>
            </td>
        </tr>

        <tr>
            <td> <p> Telefóno: 4126-6271  </p> </td>
        </tr>

        <tr>
            <td>contacto: Aquí va tu correo! </td>
        </tr>

    </table>
    

    
  </div> 
  
</div>