.footer-right {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;    
}

.footer-left {
    padding-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.footer-links {
    margin: 20px;
    font-size: 20px;
    
}

.image-size {
    height: 30px;
}


.mat-icon {
    padding-top: 7px;
    font-size: 40px;
}
