<h4> IM  THE CHILD 1</h4>

<p> id: {{ element.id }}</p>
<p> nombre: {{ element.name }}</p>
<br>
<label> id </label>
<input type="text" value='{{ element.id }}'>
<br>
<label >nombre</label>
  <input type="text" value='{{ element.name }}' #name>
<br>
<!-- 
<br>
<button mat-stroked-button style="background-color: #800000; color: white" (click)="sendData(name)"> 
  <strong>Enviar</strong>
</button>

<button mat-stroked-button style="background-color: #800000; color: white" (click)="sendData2($event)"> 
    <strong>Enviar</strong>
  </button> -->
  