<div class="container pricing">

  <mat-card>

    <mat-card-title>
       <h2 class="titles" > <strong> Precios </strong></h2>
    </mat-card-title>

    <mat-card-content class="text-center">        

        <img src="assets/images/pricing/precios.png"
        style="max-width: 100%; height: auto">

    </mat-card-content>

  </mat-card>


<!-- <div style="margin-top: 15px">
  <mat-card >


          <mat-card-title>
            <h2 class="titles"> <strong>Precios </strong> </h2>
          </mat-card-title>
      
        <mat-card-content class="text-center">   
      
            <img src="assets/images/pricing/precios.JPG"
            style="max-width: 100%; height: auto">
      
        </mat-card-content>
  </mat-card>
</div> -->

</div>