@import '../../../style.scss';

.location {
    padding: 15px;
    background: $content-color;
    min-height: 100%;
    width: 100%;
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    

    .location-content {
        width: 90%; 

        .mat-card {
            margin-top: 15px;
            border-style: solid;
            border-color: $primary-color;
            border-radius: 15px;
            border-width: thin;
        }
        
        .mat-card-header {
            display: flex;
            justify-content: center;
            color: $third-text-color
        }

        .mat-label {
            color: $third-text-color
        }

    }


}

// .location-content {
        
//     padding: 5px;
//     width: 70%;   
//     border-style: solid;
//     border-color: $secondary-color;
//     border-radius: 15px;

//     display: flex;
//     justify-content: center;
//     align-items: center;
// }


@media (max-width: 768px) {

    .location-content {
    
        // width: 100%;    
    
        // padding: 5px;
    
        // border-style: solid;
        // border-color: $secondary-color;
        // border-radius: 15px;

        // display: flex;
        // justify-content: center;
        // align-items: center;
    }
}

td {
    max-width: 100%;  
}

.location-title {
    color: $secondary-color;
    font-size: 20px;

    margin-top: 20px;
    margin-bottom: 20px;    

    border-bottom-style: solid;
    border-color: $secondary-color;
    border-radius: 15px;
}

