$primary-color: black;
$primary-text-color: white;

$secondary-color: #5c0f77;
$secondary-text-color: #fff;

$third-color: #545d60;
$third-text-color: #545d60;


$content-color: #e6e8ed;
$links-color: black;


@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.titles {
    color: $primary-color;
    display: flex;
    justify-content: center;    
}