<div class="image-zone">

<!-- <button  mat-mini-fab class="button-left" color="primary">
        <mat-icon>chevron_left</mat-icon>    
</button>  -->

        <div  [hidden]="!home1"   >
                        
        <img src="assets/images/homeSlides/home1.png"
                alt="English on GT"
                class="home-image">
                        
        </div>

        <div  [hidden]="!home2"   >
        <img src="assets/images/homeSlides/home2.png"
                alt="English on GT"
                class="home-image">
        </div>

        <div  [hidden]="!home3"   >
        <img src="assets/images/homeSlides/home3.png"
                alt="English on GT"
                class="home-image">
        </div>

        <div  [hidden]="!home4"   >
        <img src="assets/images/homeSlides/home4.png"
                alt="English on GT"
                class="home-image">
        </div>


        <!-- <div  [hidden]="!home5"   >
        <img src="assets/images/homeSlides/home5.jpg"
                alt="English on GT"
                class="home-image">
        </div> -->

<!-- <button  mat-mini-fab class="button-right" color="primary">
        <mat-icon class="arrow-right">chevron_right</mat-icon>
</button> -->

</div>

<div class="home-section-1" >
        

        <table>
                <tr>
                        <td><h3 class="titles text-center">  <strong> Tu Página web? </strong> </h3></td>
                </tr>

                <tr>
                        <td class="sub-section-1 text-center">
                                Ya sea que tengas un negocio tradicional como un restaurante, venta de artículos, clìnicas o prestes un servicio particular, nosotros nos encargamos de creear una página a tu medida.
                                No es necesario que tengas conocimientos sobre páginas web o programación.     
                        </td>
                </tr>
                
        </table>

</div>

 <div class="home-section-2">
        <img src="assets/images/section2/section2.png"
        alt="English on GT"
        class="home-image">
</div>

<div class="home-section-3">

        <div class="row d-flex text-center p-5">
                <div class="col-4 col-lg-4 col-xl-4">
                        <a routerLink="/menu1">
                        <section >
                                <img src="assets/images/section3/section3a.jpg"
                                class="pic-section-3a">
                        </section>

                        <section class="row text-section-3a">
                                <h3> <strong> Correo Electroníco </strong></h3>                                
                                <p> 
                                        Tendrás hasta 10 correos electronicos, como por ejemplo 
                                        informacion@tuEmpresa.com, ventas@tuEmpresa.com y los que tu quieras, 
                                        así de fácil es!
                                </p>
                        </section>
                        </a>
                </div>

                <div class="col-4 col-lg-4 col-xl-4">
                        <a routerLink="/menu2">
                        <section >
                                
                                <img src="assets/images/section3/section3b.png"
                                class="pic-section-3a">
                                
                        </section>
                        

                        <section class="row text-section-3a">
                                <h3> <strong> Localizaciones en Google Maps </strong></h3>                                
                                <p> 
                                        Tu página contara con Google Maps! tus clientes sabrán las Localizaciones de tu negocio. 
                                        Que esperas, contactanos ya
                                </p>
                        </section>
                        </a>
                </div>

                <div class="col-4 col-lg-4 col-xl-4">
                        <a routerLink="/menu3">
                        <section >
                                        <img src="assets/images/section3/section3c.png"
                                        class="pic-section-3a rounded">
                        </section>

                        <section class="row text-section-3a">
                                <h3> <strong> Dominio Gratis! </strong></h3>                                
                                <p> 
                                        En la compra de tu Paquete podras elegir un Dominio que será tuyo por una año.
                                        Luego de esto deberas renovarlo, *aplican restricciones
                                </p>
                        </section>
                        </a>    
                </div>
        </div>

</div>

 <div class="home-section-4">
        <div class="row">

        <section class="text-center title">
                <p>¡Contáctanos!</p>
        </section>
        
        <div class="col-4 col-lg-4 col-xl-4 text-center">
                <img mat-card-image src="assets/images/section4/what3.png"
                style="width: 40px; height: auto; margin-bottom: 25px;">
        </div>


        <div class="col-4 col-lg-4 col-xl-4 text-center">
                <section class=" title">
                        <p>4126-6271</p>
                </section>              
        </div>

        <a routerLink="/contact" >
        <div class="col-4 col-lg-4 col-xl-4 text-center">
                

                <section class="text-center">      
                        
                        <button mat-flat-button style="max-width: 100%;
                        margin-bottom: 25px; font-size: 15px">
                        Envíanos un Mensaje
                        </button>
                        
                </section>
                
        </div>
        </a>
        
        </div>
</div>


<div class="home-section-5">
        <img src="assets/images/section5/section5a.png"
        class="home-image">
</div>


<div class="home-section-6">

                <div class="row d-flex text-center p-5">
                                <div class="col-4 col-lg-4 col-xl-4">
                                        <a routerLink="/menu1">
                                        <section >
                                                <img src="assets/images/section6/section6a.jpg"
                                                class="pic-section-3a">
                                        </section>
                
                                        <section class="row text-section-3a">
                                                <h3> <strong> Forma de Contacto </strong></h3>                                
                                                <p> 
                                                        Contarás con una forma de contacto, luego que tus clientes llenen ésta forma
                                                        estarás recibiendo un correo con los datos de tus posibles clientes
                                                </p>
                                        </section>
                                        </a>
                                </div>
                
                                <div class="col-4 col-lg-4 col-xl-4">
                                        <a routerLink="/menu2">
                                        <section >
                                                
                                                <img src="assets/images/section6/section6b.png"
                                                class="pic-section-3a">
                                                
                                        </section>
                                        
                
                                        <section class="row text-section-3a">
                                                <h3> <strong> Hosting Por Un año! </strong></h3>                                
                                                <p> 
                                                        al comprar tu paquete, tendras hosting por un año completo! 
                                                        si, es correcto un año!!!, aprovecha esta promoción
                                                </p>
                                        </section>
                                        </a>
                                </div>
                
                                <div class="col-4 col-lg-4 col-xl-4">
                                        <a routerLink="/menu3">
                                        <section >
                                                        <img src="assets/images/section6/section6c.jpg"
                                                        class="pic-section-3a rounded">
                                        </section>
                
                                        <section class="row text-section-3a">
                                                <h3> <strong> Redes Sociales  </strong></h3>                                
                                                <p> 
                                                        tu sitio Web, contara con liks que redirigen a tus clientes a tus redes sociales
                                                </p>
                                        </section>
                                        </a>    
                                </div>
                        </div>
        
</div>


<div class="home-section-7">
        <img src="assets/images/section7/section7a.png"
        class="home-image">
 </div>
        