<div class="image-zone">

<!-- <button  mat-mini-fab class="button-left" color="primary">
        <mat-icon>chevron_left</mat-icon>    
</button>  -->

        <div  [hidden]="!home1"   >
                        
        <img src="assets/images/homeSlides/home1.png"
                alt="English on GT"
                class="home-image">
                        
        </div>

        <div  [hidden]="!home2"   >
        <img src="assets/images/homeSlides/home2.jpg"
                alt="English on GT"
                class="home-image">
        </div>

        <div  [hidden]="!home3"   >
        <img src="assets/images/homeSlides/home3.jpg"
                alt="English on GT"
                class="home-image">
        </div>

        <div  [hidden]="!home4"   >
        <img src="assets/images/homeSlides/home4.jpg"
                alt="English on GT"
                class="home-image">
        </div>


        <div  [hidden]="!home5"   >
        <img src="assets/images/homeSlides/home5.jpg"
                alt="English on GT"
                class="home-image">
        </div>

<!-- <button  mat-mini-fab class="button-right" color="primary">
        <mat-icon class="arrow-right">chevron_right</mat-icon>
</button> -->

</div>

<div class="home-section-1">
        

        <table>
                <tr>
                        <td><h3 class="titles text-center">  <strong> ¿Cómo Funciona? </strong> </h3></td>
                </tr>

                <tr>
                        <td class="sub-section-1 text-center">
                                Impartimos clases particulares y tutorías de inglés de forma presencial y 
                                también en línea. Enseñamos desde nivel principiante hasta avanzado. 
                                Trabajamos con niños (de 6 - 12 años), jóvenes y adultos. 
                                Utilizamos métodos modernos haciendo uso de herramientas 
                                audiovisuales que garantizan el aprendizaje de una forma entretenida. 
                                ¡Olvídate de las clases aburridas y convencionales!    
                        </td>
                </tr>
                
        </table>

</div>

 <div class="home-section-2">
        <img src="assets/images/seccion2.jpg"
        alt="English on GT"
        class="home-image">
</div>

<div class="home-section-3">

        <div class="row d-flex text-center p-5">
                <div class="col-4 col-lg-4 col-xl-4">
                        <a routerLink="/menu1">
                        <section >
                                <img src="assets/images/section3/seccion3a.jpg"
                                class="pic-section-3a">
                        </section>

                        <section class="row text-section-3a">
                                <h3> <strong> Clases para niños (6-12 años)</strong></h3>                                
                                <p> 
                                Aprender inglés desde una edad temprana tiene muchas ventajas. 
                                Contamos con métodos modernos e interactivos para que tus hijos se
                                 divertirán mientras aprenden inglés.
                                </p>
                        </section>
                        </a>
                </div>

                <div class="col-4 col-lg-4 col-xl-4">
                        <a routerLink="/menu2">
                        <section >
                                
                                <img src="assets/images/section3/seccion3b.jpg"
                                class="pic-section-3a">
                                
                        </section>
                        

                        <section class="row text-section-3a">
                                <h3> <strong> Clases para jóvenes y adultos</strong></h3>                                
                                <p> 
                                No importa si eres principiante o ya cuentas con un conocimiento básico
                                 contamos con métodos innovadores que te ayudarán a acelerar tu aprendizaje. 
                                Si tus actividades diarias no te permiten asistir a clases, no te preocupes 
                                ya que también ofrecemos clases en línea.
                                </p>
                        </section>
                        </a>
                </div>

                <div class="col-4 col-lg-4 col-xl-4">
                        <a routerLink="/menu3">
                        <section >
                                        <img src="assets/images/section3/seccion3c.jpg"
                                        class="pic-section-3a rounded">
                        </section>

                        <section class="row text-section-3a">
                                <h3> <strong> Cursos Intensivos para Call-Center </strong></h3>                                
                                <p> 
                                                Si tu objetivo es mejorar tu inglés para aplicar
                                                 a una plaza en un call center bilingüe y ya cuentas con un mínimo de 
                                                 40% de inglés ¡esto es para tí!. Contamos con años de experiencia en 
                                                 la industria de call-center y te entrenaremos en las áreas que necesites 
                                                 reforzar.
                                </p>
                        </section>
                        </a>    
                </div>
        </div>

</div>

 <div class="home-section-4">
        <div class="row">
        <!-- <table style="width: 100%">
                <tr>
                        <td class="text-right ">
                                        <img src="assets/images/section4/what3.png"
                                        class="pic-section-4"
                                        style="width: 100px; height: 100px; padding: 20px">
                        </td>
                        <td class="text-left">
                                        <h1>4126-6271</h1>
                        </td>
                </tr>
        </table> -->

        <section class="text-center title">
                <p>¡Contáctanos!</p>
        </section>
        
        <div class="col-4 col-lg-4 col-xl-4 text-center">
                <img mat-card-image src="assets/images/section4/what3.png"
                style="width: 40px; height: auto; margin-bottom: 25px;">
        </div>


        <div class="col-4 col-lg-4 col-xl-4 text-center">
                <section class=" title">
                        <p>4126-6271</p>
                </section>              
        </div>

        <a routerLink="/contact" >
        <div class="col-4 col-lg-4 col-xl-4 text-center">
                

                <section class="text-center">      
                        
                        <button mat-flat-button style="max-width: 100%;
                        margin-bottom: 25px; font-size: 15px">
                        Envíanos un Mensaje
                        </button>
                        
                </section>
                
        </div>
        </a>
        
        </div>
</div>

<!-- <div class="home-section-5">
        <img src="assets/images/section5/niveles.jpg"
        class="home-image">
</div> -->

<!-- <div class="home-section-3">

</div>  -->